[Unit]
Description=Check the Dr. M approved publishing queue

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
RandomizedDelaySec=10s
Persistent=true
Unit=drm-publisher-controller.service

[Install]
WantedBy=timers.target
